{% extends 'base.html' %}

 {% block title %}
    Daily Report Page          
 {% endblock  %}
     
 
 {% block content %}
   

 
 <div class="container mt-5">
   <div class="row">
      <div class="sm-12">
                 
         <div class="card" >
            
            
               
                 <img src="{{detection.image.url}}" width="120">
                    <div class="card-body">
                       <h5 class="card-title"></h5>
                       <p class="card-text">daily report</p>
                       <p class="card-text"></p>
                    </div>
          </div>
      </div>          
   </div>
 </div>


 {% endblock  %}
                    